
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

.footer {
    margin-top: -50px;
    height: 50px;
    background-color: #eee;
    z-index: 9999;
}

.wrap {
    min-height: 100%;
}

.main {
    padding-bottom: 50px;
}



/*导航条*/
#index {
    left: 20%;
}

#archive {
    left: 78%;
}

#video {
    right: 50%;
}

#category {
    left: 95%;
}

/*巨幕*/
.title {
    text-align: center;
}


/*底边栏固定*/
.navbarr {
    display: table;
    margin: 0 auto;
}

.navbarr li {
    display: table-cell;
}


/*搜索框样式*/
.search{
            position: absolute;

            left: 200px;
        }


/*搜索颜色设置*/
span.highlighted {
        color: red;
    }

