<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="editor.md/css/editormd.min.css" />
</head>
<script src="/static/jquery-3.3.1.js"></script>
<script src="editor.md/editormd.min.js"></script>
<body>

<div id="my-editormd">
            <textarea class="editormd-markdown-textarea" name="doc"
                      style="display:none;"></textarea>
            <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
            <textarea class="editormd-html-textarea" name="html"></textarea>
</div>


<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("my-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "../lib/",
           //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true,

            imageUpload: true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/uploadImage",//注意你后端的上传图片服务地址
            onload: function(){
                this.width("100%");
                this.height(480);
            }
        });
    });
</script>




</body>
</html>