{% extends "base/base.html" %}
{% block css %}

    <style>
        .collect {
            color: red;
        }
    </style>
{% endblock %}


{% block content %}
    {% csrf_token %}

    <div class="article-list">
        {% for article in article_list %}
            <div class="article">
                <h3>
                    <a href="{% url "article:article_detail" article.pk %}">{{ article.title }}</a>
                </h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object author-img"
                                 src="/media/{{ article.author.avatar }}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <p>{{ article.desc }}</p>
                    </div>
                </div>
                <div class="article-footer">
                    <span><a href="#">{{ article.author.username }}</a></span>发布于
                    <span>{{ article.pub_time|date:'Y-m-d H:i:s' }}</span>&nbsp&nbsp
                    <span class="glyphicon glyphicon-thumbs-up">views({{ article.views }})</span>&nbsp&nbsp
                    <span><i class="fa fa-commenting-o fa-fw"
                             aria-hidden="true"></i>评论({{ article.comment_count }})</span>&nbsp&nbsp
                    <span><i class="fa fa-thumbs-o-up fa-fw"
                             aria-hidden="true"></i>点赞({{ article.up_count }})</span>
                    <span><i
                            class="fa fa-thumbs-o-up fa-fw glyphicon glyphicon-heart-empty collect_btn "
                            aria-hidden="true " article_id="{{ article.id }}" userid="{{ request.user.id }}"
                            article_title="{{ article.title }}"></i>收藏</span>
                </div>

                <hr>
            </div>
        {% endfor %}

    </div>

    <script>
        $(".collect_btn").click(function () {
            var id = $(this).attr("article_id")
            var userid = $(this).attr("userid")
            var article_title = $(this).attr("article_title")
            var that = this;
            if (userid) {
                $.ajax({
                    type: "post",
                    url: "/article/article_collect/",
                    data: {
                        id: id,
                        userid: userid,
                        article_title: article_title,
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function (data) {

                        if (data.state == true) {
                            $(that).addClass("collect")
                            if(data.exit==true){
                                alert("已经收藏了！")
                                return;
                            }
                            alert("收藏成功")
                        } else {
                            alert("收藏失败")
                        }
                    },
                })
            } else {
                alert("请先登陆")
            }

        })


    </script>
{% endblock %}


{% block page %}
    <nav aria-label="Page navigation">
        <ul class="pagination navbarr">
            {{ page_info.pager|safe }}
        </ul>
    </nav>
{% endblock %}