{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>


    <script src="{% static "/CACHE/js/jquery.js" %}"></script>

    <link rel="stylesheet" href="{% static "/CACHE/css/output.cd1b318ded0a.css" %}">

    <style>
        .zcenter {
            margin-top: 10%;
        }

        .get_code {
            float: right;
            position: relative;
            right: 205px;
            bottom: 50px;

        }
    </style>
</head>
<body>
<div class="zcenter">
    <div class="container">
        <div class="row">
            <form class="form-horizontal col-md-6 col-md-offset-3 login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-10">
                        <input type="text" name="valid_code" id="valid_code">
                        <img id="valid-img" class="valid-img" alt="" src="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" id="login-button">登录</button>
                        <span class="login-error"></span>
                    </div>
                </div>
                <div class="form-group get_code">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" id="code-button">获取验证码</button>
                        <span class="login-error"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $("#login-button").click(function () {
        // 1. 取到用户填写的用户名和密码 -> 取input框的值
        var username = $("#username").val();
        var password = $("#password").val();
        var valid_code = $("#valid_code").val();
        // 2. 用AJAX发送到服务端
        $.ajax({
            url: "/userinfo/login/",
            type: "post",
            data: {
                username: username,
                password: password,
                valid_code: valid_code,
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {
                {#console.log(data);#}
                if (data.code == 400) {
                    // 有错误，在页面上提示
                    $(".login-error").text(data.message);
                } else {
                    // 登陆成功
                    location.href = data.data;
                }
            }
        })
    });

    // 当input框获取焦点时将之前的错误清空
    $("#username,#password").focus(function () {
        // 将之前的错误清空
        $(".login-error").text("");
    });

    // 点击验证码图片 刷新验证码
    $("#valid-img").click(function () {
        $(this)[0].src += "?";
    })

    $("#code-button").click(function () {
        var src = $('#valid-img').attr("src");
        if (src == "/userinfo/get_img_captcha/") {

            $('#valid-img').attr("src", "/userinfo/get_img_captcha/?");
        } else {
            $('#valid-img').attr("src", "/userinfo/get_img_captcha/");
        }

    })


</script>
</body>
</html>