<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            height: 100%;
        }

        .footer {
            margin-top: -50px;
            height: 50px;
            background-color: #eee;
            z-index: 9999;
        }

        .wrap {
            min-height: 100%;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="main">
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />

            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />

            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />
            内容，可以大量复制看效果<br />

        </div>
    </div>
    <div class="footer">相对在底部</div>
</body>
</html>