<style>

    .month{
        margin-left: 10%;
    }
</style>

{% extends "base/base.html" %}

{% block content %}



<ul class="list-group">


{% regroup article_list by pub_time.year as year_post_group %}
                <ul>
                    {% for year in year_post_group %}
                        <li >{{ year.grouper }} 年
                            {% regroup year.list by pub_time.month as month_post_group %}
                            <ul>
                                {% for month in month_post_group %}
                                    <li class="month" >{{ month.grouper }} 月
                                        <ul>
                                            {% for article in month.list %}
                                                <li class="list-group-item"><a href="{% url "article:article_detail" article.pk %}">{{ article.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>





</ul>

{% endblock %}